/* Sales */
.sale-section {
    width: 95%;
    min-height: 500px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.sales-btns-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales-btns-area button {
    margin: 15px;
    min-width: 80px;
}

.sales-btns-area button.selected {
    outline: 1px solid rgb(0, 0, 0);
    opacity: 0.8;
}

.total-sales-count {
    display: inline-block;
    min-width: 80px;
    border-radius: 5px;
}

.sales-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 100%;
    min-height: 450px;
}

.sale-details {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    background: #1D1678;
    color: white;
}

.sale-details p {
    background: rgba(0, 0, 0, 0.088);
    padding: 10px;
    border: 1px solid white;
    margin: 0px;
}

.sale {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: -15px;
   color: white;
}

.sale p {
    background: #1D1678;
    padding: 10px;
    border: 1px solid;
}

#sale-id {
    min-width: 25%;
    max-width: 25%;
    cursor: pointer;
}

#sale-status {
    min-width: 15%;
    max-width: 15%;
}

#sale-total {
    min-width: 20%;
    max-width: 20%;
}

#escrow-status {
    min-width: 15%;
    max-width: 15%;
}

#sale-feedback {
    min-width: 10%;
    max-width: 10%;
}

#sale-created-at {
    min-width: 15%;
    max-width: 15%;
    font-size: 12px;
}

.sales-next-prev-btn-area{
    display: flex;
    justify-content: center;
}
.sales-next-prev-btn-area button{
    width: 150px;
    margin: 10px;
}

.sale #sale-created-at{
    margin-bottom: 15px;
}
/* Sales */

/* Sales Items */

.sellitems-area{
    min-width: 360px;
    max-width: 360px;
    height: 550px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow-y: auto;
}
.remove-sellitems-page-btn{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    z-index: 999;
}
.sellitems-product-area{
    font-size: 15px;
    padding: 15px;
    padding-bottom: 0px;
}

.sellitems-buyer-area{
    font-size: 20px;
    padding: 10px;
    padding-bottom: 0px;
}

.sellitems-contact-buyer-area{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.sellitems-shipping-area{
    width: 95%;
    margin: auto;
    font-size: 15px;
    margin-top: -10px;
}

/* Sales Items */


/* MyProducts */

.myproducts-section{
    width: 95%;
    min-height: 450px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.add-products-btn{
    margin: 10px;
}
.search-area{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#myproduct-search-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#myproduct-search-btn img{
    width: 100%;
}
#myproducts-search-input{
    width: 60%;
}
/* .sort-myproduct{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
} */
.product-count{
    padding: 5px;
}
.myproducts-list{
    max-width: 80%;
    min-height: 450px;
    margin: auto;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.myproduct{
    cursor: pointer;
    width: 350px;
    height: 500px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 20px;
}
.myproduct-image-area{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.myproduct-image-area .myproduct-image{
    width: 320px;
    height: 320px;
    margin: auto;
}


.myproduct-title-area{
    width: 80%;
    margin: auto;
    min-height: 80px;
    max-height: 90px;
    overflow: hidden;
    
}
.myproduct-title{
    font-size: 13px;
}
.myproduct-price-area{
    width: 80%;
    margin: auto;
    text-align: center;
    background: #1D1678;
}
.myproduct-price{
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.my-prodct-btn-area{
    display: flex;
    justify-content: center;
}
.my-prodct-btn-area .btn{
    width: 150px;
    margin: 10px;
}
/* My Products */

/* Create Product */

.create-product-area {
    min-width: 360px;
    max-width: 360px;
    height: 550px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow-y: auto;
}

.remove-create-product-page-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: 0;
    z-index: 999;
}

.create-product-details-area {
    width: 90%;
    margin: auto;
}

#create-title {
    width: 100%;
}

#create-description {
    width: 100%;
}

/* #create-price {
    width: 100%;
} */

#create-inventory {
    width: 100%;
}

.create-img-preview-area {
    width: 250px;
    height: 250px;
    border: 1px solid;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

#create-img-preview {
    width: 100%;
}

.create-submit-area {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Create Product */
/* Edit Product */

.edit-product-area{
    min-width: 360px;
    max-width: 360px;
    height: 550px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow-y: auto;
}
.remove-edit-product-page-btn{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: 0;
    z-index: 999;
}
.edit-product-id-area{
    display: flex;
    justify-content: center;
}
.edit-product-id{
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-product-details-area{
    width: 90%;
    margin: auto;
}

#edit-title{
    width: 100%;
}

#edit-description{
    width: 100%;
}

/* #edit-price{
    width: 100%;
} */

#edit-inventory{
    width: 100%;
}
.edit-img-preview-area{
    width: 250px;
    height: 250px;
    border: 1px solid;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
#edit-img-preview{
    width: 100%;
}

.edit-submit-area{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* Edit Product */


/* Responsvie */
@media screen and (max-width: 1020px) {
    .sales-list{
        display: flex;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent items from wrapping */
        padding: 0;
        list-style: none;
        flex-direction: column;
    }
    .sale-details{
        width: 950px;
    }
    .sale{
        width: 950px;
    }
}
@media screen and (max-width: 820px) {

    /* My Products */

    .add-product-btn-area{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}